<login-panel [hidden]="bRegister"></login-panel>
<carouselInstruction id="carouselInstruction" [hidden]="!(carouselComponent.state&&bRegister)"></carouselInstruction>
<info id ="info_panel"></info>
<blackoverlay [hidden] ="bRegister"></blackoverlay>
<top-nav (click)="topNavOpen()" ></top-nav>
<div id="gettingLocation">
	<div class="title">Getting your location</div>
	<img src="../img/funny.gif" alt="getting location" class="img-responsive">
	<span> Please be patient </span>
</div>

<search-bar></search-bar>
<img alt="config" id="cog_icon" src="../img/cog.png" (click) = "openHelper()" />
<map-gg (saveUpdated) = "UserComponent.updateSave($event)" (doneLoading)="loadData($event)"></map-gg>
<filter id="filter"></filter>
<analyze></analyze>
<router-outlet></router-outlet>

