<blackoverlay (click)="closeAll()"></blackoverlay>
<top-nav (click)="topNavOpen()" ></top-nav>
<div id="gettingLocation">
	<div class="title">Getting your location</div>
	<img src="../img/funny.gif" alt="getting location" class="img-responsive">
	<span> Please be patient </span>
</div>

<search-bar></search-bar>
<div id="direction"></div>
<map-gg (saveUpdated) = "UserComponent.updateSave($event)" (doneLoading)="loadData($event)"></map-gg>
<my-bike ></my-bike>
<user-panel></user-panel>
<router-outlet></router-outlet>

